openapi: 3.0.3
info:
  title: Adapt REST API
  description: Public REST API for the Adapt chat platform
  license:
    name: AGPL-3.0
  version: 0.1.0
servers:
- url: https://api.adapt.chat
  description: Production
paths:
  /bots:
    get:
      tags:
      - users
      summary: Get All Bots
      description: Fetches all bot accounts owned by the authenticated user.
      operationId: get_bots
      responses:
        '200':
          description: List of bots
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Bot'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    post:
      tags:
      - users
      summary: Create Bot
      description: Registers a new bot account with the given payload.
      operationId: create_bot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBotPayload'
        required: true
      responses:
        '201':
          description: Bot ID and token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBotResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Username is already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /bots/{bot_id}:
    get:
      tags:
      - users
      summary: Get Bot
      description: Fetches information about a bot account by its ID.
      operationId: get_bot
      parameters:
      - name: bot_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Bot object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bot'
        '404':
          description: Bot not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    delete:
      tags:
      - users
      summary: Delete Bot
      description: Deletes a bot account. Requires the bot owner's password if the bot is in over 20 guilds.
      operationId: delete_bot
      parameters:
      - name: bot_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DeleteBotPayload'
              nullable: true
        required: false
      responses:
        '204':
          description: Bot was successfully deleted
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token/credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    patch:
      tags:
      - users
      summary: Edit Bot
      description: Modifies information about a bot account.
      operationId: edit_bot
      parameters:
      - name: bot_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditBotPayload'
        required: true
      responses:
        '200':
          description: Bot object after modification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bot'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Username is already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /bots/{bot_id}/tokens:
    post:
      tags:
      - users
      summary: Regenerate Bot Token
      description: |-
        Regenerates a token for a bot you own. If the bot is in over 20 guilds, you must provide the bot
        owner's password.
      operationId: regenerate_bot_token
      parameters:
      - name: bot_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RegenerateBotTokenPayload'
              nullable: true
        required: false
      responses:
        '200':
          description: Token regenerated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token/credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /channels/{channel_id}:
    get:
      tags:
      - channels
      summary: Get Channel
      description: |-
        Gets information about a channel given its ID. This includes guild channels, DM channels, and
        group DM channels.
      operationId: get_channel
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Channel information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    delete:
      tags:
      - channels
      summary: Delete Channel
      description: |-
        Deletes a channel. For guild channels, you must have the `MANAGE_CHANNELS` permission to use
        this endpoint. For standard DM channels, you must be a recipient of the DM. For group DM
        channels, you must be the owner of the group DM.
      operationId: delete_channel
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Channel deleted
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    patch:
      tags:
      - channels
      summary: Edit Channel
      description: |-
        Edits a channel with the given payload.
        For guild channels, you must have the `MODIFY_CHANNELS` permission to use this endpoint.
      operationId: edit_channel
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditChannelPayload'
        required: true
      responses:
        '200':
          description: Channel with updated details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /channels/{channel_id}/ack/{message_id}:
    put:
      tags:
      - channels
      summary: Acknowledge Channel
      description: |-
        Acknowledges a channel up to the given message ID, marking the message and all messages before
        it as read.

        Note that a message with the given ID does not have to actually exist; to mark a specific
        message as unread you can pass ``message_id - 1`` to this endpoint instead.
      operationId: acknowledge_channel
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Channel acknowledged
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /channels/{channel_id}/messages:
    get:
      tags:
      - messages
      summary: Get Message History
      description: |-
        Fetches multiple messages from the channel's message history in bulk.
        If in a guild, you must have the `VIEW_MESSAGE_HISTORY` permission to use this endpoint.
      operationId: get_message_history
      parameters:
      - name: before
        in: query
        description: |-
          If specified, only messages before this message will be returned. If any messages exactly
          match this ID, they will **not** be returned.
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
          minimum: 0
      - name: after
        in: query
        description: |-
          If specified, only messages after this message will be returned. If any messages exactly
          match this ID, they will **not** be returned.
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
          minimum: 0
      - name: around
        in: query
        description: |-
          If specified, messages will be fetched centered around this message ID, with equal padding
          on both sides up to the limit. If there are not enough messages on either side, the results
          will be cut off on that side.
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
          minimum: 0
      - name: limit
        in: query
        description: |-
          The limit of messages to return. If unspecified, this defaults to ``100``. Must be between
          ``0`` and ``200``.
        required: false
        schema:
          type: integer
          format: int32
          minimum: 0
      - name: user_id
        in: query
        description: If specified, only messages sent by the given user will be returned.
        required: false
        schema:
          type: integer
          format: int64
          nullable: true
          minimum: 0
      - name: oldest_first
        in: query
        description: |-
          Whether to query messages starting from the oldest message first. Defaults to ``false``.

          If ``true``, messages will be sorted from oldest to newest. If ``false``, messages will be
          sorted from newest to oldest.
        required: false
        schema:
          type: boolean
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Array of message objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
        '400':
          description: Invalid query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    post:
      tags:
      - messages
      summary: Create Message
      description: |-
        Sends a message in the given channel. You must have both the `VIEW_CHANNEL` and `SEND_MESSAGES`
        permissions in that channel if this message is being sent in a guild.
      operationId: create_message
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessagePayload'
        required: true
      responses:
        '201':
          description: Message object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /channels/{channel_id}/messages/{message_id}:
    get:
      tags:
      - messages
      summary: Get Message
      description: |-
        Gets a message in the given channel with the given ID.
        If in a guild, you must have the `VIEW_MESSAGE_HISTORY` permission to use this endpoint.
      operationId: get_message
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Message object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel or message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    delete:
      tags:
      - messages
      summary: Delete Message
      description: |-
        Deletes a message in the given channel. In a guild, you must have the `VIEW_CHANNEL` permission
        to delete your own messages, with addition to the `MANAGE_MESSAGES` permission if you want to
        delete messages sent by other members. If you have this permission, you are only able to delete
        any messages sent by members who have either left the guild or are ranked lower than you in the
        role hierarchy.
      operationId: delete_message
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Message deleted
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel or message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    patch:
      tags:
      - messages
      summary: Edit Message
      description: |-
        Edits a message in the given channel. You must have the `VIEW_CHANNEL` and `SEND_MESSAGES`
        permissions in that channel if the target message is in a guild.
      operationId: edit_message
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditMessagePayload'
        required: true
      responses:
        '200':
          description: Message object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel or message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /channels/{channel_id}/messages/{message_id}/pin:
    put:
      tags:
      - messages
      summary: Pin Message
      description: |-
        Pins a message to its given channel. You must have the `PIN_MESSAGES` permission in the
        channel, or be in a DM-type channel. This endpoint is idempotent.
      operationId: pin_message
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Message pinned
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel or message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    delete:
      tags:
      - messages
      summary: Unpin Message
      description: |-
        Unpins a message from its given channel. You must have the `PIN_MESSAGES` permission in the
        channel, or be in a DM-type channel. This endpoint is idempotent, so it may still return
        success even if the message wasn't originally pinned.
      operationId: unpin_message
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Message unpinned
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel or message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /channels/{channel_id}/messages/{message_id}/reactions:
    get:
      tags:
      - messages
      summary: Get Message Reactions
      description: |-
        Fetches all reactions for a message. The reaction objects returned in the response will include
        the `created_at` field. If in a guild, this requires the `VIEW_CHANNEL` permission.
      operationId: get_message_reactions
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Array of reaction objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reaction'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel or message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    delete:
      tags:
      - messages
      summary: Clear Reactions
      description: |-
        Removes all reactions from a message. This requires the `MANAGE_MESSAGES` permission in the
        guild.

        This method is idempotent: if you try to remove reactions from a message that has no reactions,
        nothing will happen.
      operationId: clear_reactions
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Reactions removed
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel or message not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /channels/{channel_id}/messages/{message_id}/reactions/{emoji}:
    delete:
      tags:
      - messages
      summary: Remove All Reactions for Emoji
      description: |-
        Removes all reactions for a given emoji from a message. This requires the `MANAGE_MESSAGES`
        permission in the guild.

        The emoji path parameter should be either a literal unicode emoji or the ID of a custom emoji.
      operationId: remove_all_reactions_for_emoji
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: emoji
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Reactions removed
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel, message, or emoji not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /channels/{channel_id}/messages/{message_id}/reactions/{emoji}/me:
    put:
      tags:
      - messages
      summary: Add Reaction
      description: |-
        Adds a reaction to a message. If in a guild and the reaction does not exist, this will require
        the `ADD_REACTIONS` permission.

        This endpoint is idempotent: if you have already reacted to this message with this emoji,
        nothing will happen.

        The emoji path parameter should be either a literal unicode emoji or the ID of a custom emoji.
      operationId: add_reaction
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: emoji
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Reaction added
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel, message, or emoji not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    delete:
      tags:
      - messages
      summary: Remove Own Reaction
      description: |-
        Removes your own reaction from a message. This method is idempotent: if you try to remove a
        reaction that you haven't added, nothing will happen.

        The emoji path parameter should be either a literal unicode emoji or the ID of a custom emoji.
      operationId: remove_reaction
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: emoji
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Reaction removed
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel, message, or emoji not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /channels/{channel_id}/messages/{message_id}/reactions/{emoji}/{user_id}:
    delete:
      tags:
      - messages
      summary: Remove User Reaction
      description: |-
        Forcibly removes a reaction by another user from a message. This requires the `MANAGE_MESSAGES`
        permission in the guild.

        This method is idempotent: if you try to remove a reaction that doesn't exist, nothing will
        happen.

        The emoji path parameter should be either a literal unicode emoji or the ID of a custom emoji.
      operationId: remove_user_reaction
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: message_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: emoji
        in: path
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Reaction removed
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Channel, message, or emoji not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /emojis:
    get:
      tags:
      - emojis
      summary: List Unicode Emojis
      description: |-
        Lists all supported unicode emojis. This endpoint does not require authentication.

        The data returned from this endpoint is extracted and up to date with GitHub's
        [genmoji](https://github.com/github/gemoji/blob/master/db/emoji.json).
      operationId: list_unicode_emojis
      responses:
        '200':
          description: List of unicode emojis
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmojiData'
  /emojis/{emoji_id}:
    get:
      tags:
      - emojis
      summary: Get Emoji
      description: Gets information about a custom emoji.
      operationId: get_emoji
      parameters:
      - name: emoji_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Custom emoji object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEmoji'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Emoji not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds:
    get:
      tags:
      - guilds
      summary: Get All Guilds
      description: Fetches information for all guilds the user is a member of, abiding by the given query.
      operationId: get_all_guilds
      parameters:
      - name: channels
        in: query
        description: Whether to resolve the guild's channels in the response.
        required: false
        schema:
          type: boolean
      - name: members
        in: query
        description: Whether to resolve the guild's members in the response.
        required: false
        schema:
          type: boolean
      - name: roles
        in: query
        description: Whether to resolve the guild's roles in the response.
        required: false
        schema:
          type: boolean
      - name: emojis
        in: query
        description: Whether to resolve the guild's emojis in the response.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Array of guild objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Guild'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    post:
      tags:
      - guilds
      summary: Create Guild
      description: Creates a new guild with the given payload.
      operationId: create_guild
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuildPayload'
        required: true
      responses:
        '201':
          description: Guild was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guild'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}:
    get:
      tags:
      - guilds
      summary: Get Guild
      description: |-
        Fetches information for the guild with the given ID. You must be a member of the guild to fetch
        it.
      operationId: get_guild
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Guild object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guild'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You are not a member of the guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    delete:
      tags:
      - guilds
      summary: Delete Guild
      description: Deletes the guild with the given ID. You must be the owner of the guild to delete it.
      operationId: delete_guild
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DeleteGuildPayload'
              nullable: true
        required: false
      responses:
        '204':
          description: Guild was successfully deleted
        '401':
          description: Invalid token or password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You are not the owner of the guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    patch:
      tags:
      - guilds
      summary: Edit Guild
      description: |-
        Modifies details of the guild with the given ID. You must have `MANAGE_GUILD` permissions to
        modify the guild. Returns the modified guild as a partial guild on success.
      operationId: edit_guild
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditGuildPayload'
        required: true
      responses:
        '200':
          description: Modified guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartialGuild'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You do not have permission to modify the guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}/bots/{bot_id}:
    put:
      tags:
      - members
      summary: Add Bot to Guild
      description: |-
        Adds the bot to the guild with the given ID. If not the owner of the bot, the bot must be
        public. If the bot is already in the guild, nothing happens.
      operationId: add_bot_to_guild
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: bot_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AddBotPayload'
              nullable: true
        required: false
      responses:
        '200':
          description: Bot is already in the guild, no change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '201':
          description: Added bot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Bot is not public
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}/channels:
    get:
      tags:
      - channels
      summary: Get Guild Channels
      description: Returns a list of all channels in the guild.
      operationId: get_guild_channels
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Array of guild channels
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GuildChannel'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    post:
      tags:
      - channels
      summary: Create Guild Channel
      description: |-
        Creates a new channel in the guild with the given payload. You must have the `MANAGE_CHANNELS`
        permission to use this endpoint.
      operationId: create_guild_channel
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGuildChannelPayload'
        required: true
      responses:
        '201':
          description: Channel was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    patch:
      tags:
      - channels
      summary: Edit Guild Channel Positions
      description: |-
        Modifies the positions of channels in a guild. You must have the `MANAGE_CHANNELS` permission to
        use this endpoint.

        You must specify all channels that will have a new absolute position, and there is no automatic
        normalization/shifting of positions. You must ensure that after overwriting the positions of the
        specified channels, all channels in the guild have a valid position.

        For example, if you want to swap the positions of two channels, you must specify the new desired
        positions for _both_ channels. If you want to move a channel from the top of a category to the
        bottom, you must specify new positions for every single channel in that category because their
        positions would be shifted.

        Channel positions are scoped by category (or lack thereof), and categories themselves take their
        own scope, separate from normal channels. The positioning restrictions are as follows:
        - No two channels in a positioning scope may have the same position.
        - No gap in positions may exist in a positioning scope.
        - The lowest position in a positioning scope is always 0.

        This means that a positioning scope with N channels must have all integer positions from
        0 to _N-1_.
      operationId: edit_guild_channel_positions
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/EditChannelPositionPayload'
        required: true
      responses:
        '204':
          description: Channel positions updated
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild or channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}/emojis:
    get:
      tags:
      - emojis
      summary: List Custom Emojis
      description: |-
        Lists all custom emojis in the guild. If the guild is not public, you must be a member of the
        guild to use this endpoint.
      operationId: list_guild_emojis
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: List of custom emojis
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomEmoji'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The guild is not public and you are not a member of the guild.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    post:
      tags:
      - emojis
      summary: Create Custom Emoji
      description: |-
        Creates a new custom emoji in the guild. You must have the `MANAGE_EMOJIS` permission for the
        guild to use this endpoint.
      operationId: create_emoji
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmojiPayload'
        required: true
      responses:
        '201':
          description: Custom emoji object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          description: Invalid payload or name length
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |-
            You are forbidden from creating the emoji. This can be because:
            * You are not a member of the guild.
            * You do not have the `MANAGE_EMOJIS` permission in the guild.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}/emojis/{emoji_id}:
    delete:
      tags:
      - emojis
      summary: Delete Emoji
      description: |-
        Deletes a custom emoji. You must have the `MANAGE_EMOJIS` permission for the guild to use this
        endpoint.
      operationId: delete_emoji
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: emoji_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Emoji deleted
          content:
            application/json:
              schema:
                default: null
                nullable: true
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing Manage Emojis permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Emoji not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    patch:
      tags:
      - emojis
      summary: Edit Emoji
      description: |-
        Modifies a custom emoji. You must have the `MANAGE_EMOJIS` permission for the guild to use this
        endpoint.
      operationId: edit_emoji
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: emoji_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditEmojiPayload'
        required: true
      responses:
        '200':
          description: Custom emoji object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomEmoji'
        '400':
          description: Invalid payload or name length
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing Manage Emojis permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Emoji not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}/invites:
    get:
      tags:
      - invites
      summary: Get Guild Invites
      description: |-
        Gets a list of invites for the given guild. You must have the `MANAGE_INVITES` permission for
        the guild to use this endpoint.
      operationId: get_guild_invites
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: List of invites
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invite'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    post:
      tags:
      - invites
      summary: Create Invite to Guild
      description: |-
        Creates an invite that leads to the homepage of the given guild.
        You must have the `CREATE_INVITES` permission for the guild to use this endpoint.
      operationId: create_guild_invite
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvitePayload'
        required: true
      responses:
        '201':
          description: Invite was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invite'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}/invites/{code}:
    delete:
      tags:
      - invites
      summary: Delete Invite
      description: |-
        Deletes (revokes) an invite given its guild ID and code.
        You must have the `MANAGE_INVITES` permission for the guild to use this endpoint.
      operationId: delete_guild_invite
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Invite was successfully deleted
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Missing permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild or invite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}/members:
    get:
      tags:
      - members
      summary: Get All Members
      description: Gets information of all members in a guild. You must be a member of the guild.
      operationId: get_members
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Array of member objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You are not a member of the guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}/members/me:
    get:
      tags:
      - members
      summary: Get Authenticated User as Member
      description: |-
        Gets information of the authenticated user as a member of a guild. You must be a member of the
        guild.
      operationId: get_client_member
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Member object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You are not a member of the guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    delete:
      tags:
      - members
      summary: Leave Guild
      description: |-
        Leaves a guild. You must be a member of the guild beforehand. If you are the owner of the guild,
        you must transfer ownership to another member before leaving.
      operationId: leave_guild
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Success left the guild
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You are the owner of the guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    patch:
      tags:
      - members
      summary: Edit Authenticated User as Member
      description: |-
        Edits the authenticated user as a member of the given guild. You must be a member of the guild.
        Parts of the payload require different permissions:
        * The `nick` field requires the `CHANGE_NICKNAME` permission.
      operationId: edit_client_member
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditClientMemberPayload'
        required: true
      responses:
        '200':
          description: Member object after modifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You are not a member of the guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}/members/{member_id}:
    get:
      tags:
      - members
      summary: Get Member
      description: Gets information of a member in a guild. You must be a member of the guild.
      operationId: get_member
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: member_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Member object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You are not a member of the guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild or member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    delete:
      tags:
      - members
      summary: Kick Member
      description: |-
        Kicks a member from a guild. You must be a member of the guild and have the `KICK_MEMBERS`
        permission, and their highest role must be lower than yours.
      operationId: kick_member
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: member_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Member was kicked
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |-
            You are forbidden from editing the member. This can be because:
            * You are not a member of the guild.
            * You are missing permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild or member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    patch:
      tags:
      - members
      summary: Edit Member
      description: |-
        Edits information of a member in a guild. Parts of the payload require different permissions:
        * The `nick` field requires the `MANAGE_NICKNAMES` permission.
        * The `roles` field requires the `MANAGE_ROLES` permission.

        Returns the modified member object on success.
      operationId: edit_member
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: member_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditMemberPayload'
        required: true
      responses:
        '200':
          description: Member object after modifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |-
            You are forbidden from editing the member. This can be because:
            * You are not a member of the guild.
            * You are missing permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild or member not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}/roles:
    get:
      tags:
      - roles
      summary: Get All Roles
      description: |-
        Fetches information for all roles in the guild with the given ID.
        You must be a member of the guild.
      operationId: get_roles
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Array of role objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You are not a member of the guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    post:
      tags:
      - roles
      summary: Create Role
      description: |-
        Creates a role in the guild with the given guild ID. You must have the `MANAGE_ROLES` permission
        to create roles.
      operationId: create_role
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRolePayload'
        required: true
      responses:
        '201':
          description: Role object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |-
            You are forbidden from creating the roles. This can be because:
            * You are not a member of the guild.
            * You do not have the `MANAGE_ROLES` permission in the guild.
            * You are creating a role that allows or denies permissions you do not have.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    patch:
      tags:
      - roles
      summary: Edit Role Positions
      description: |-
        Modifies the positions of all roles in the guild with the given ID. You must have the
        ``MANAGE_ROLES`` permission.
      operationId: edit_role_positions
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
                minimum: 0
        required: true
      responses:
        '200':
          description: Modified role positions
        '400':
          description: "Invalid list of role IDs. Your array must contain all roles in the guild exactly\n                once, including roles above your top role but excluding the default role.\n            "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: "You are forbidden from reordering roles. This can be because:\n* You are not a member of the guild.\n* You do not have the `MANAGE_ROLES` permission in the guild.\n* A role higher than or equal to your top role had its position changed.\n            "
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild or role not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /guilds/{guild_id}/roles/{role_id}:
    get:
      tags:
      - roles
      summary: Get Role
      description: |-
        Fetches information for the role with the given ID in the given guild. You must be a member of
        the guild the role belongs to.
      operationId: get_role
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: role_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Role object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: You are not a member of the guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild or role not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    delete:
      tags:
      - roles
      summary: Delete Role
      description: |-
        Deletes the role with the given ID in the given guild. You must have the `MANAGE_ROLES`
        permission, the role cannot be managed, and the role must be lower than your highest role.
      operationId: delete_role
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: role_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Role deleted
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |-
            You are forbidden from deleting the role. This can be because:
            * You are not a member of the guild.
            * You do not have the `MANAGE_ROLES` permission in the guild.
            * The role is managed.
            * The role is higher than your highest role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    patch:
      tags:
      - roles
      summary: Edit Role
      description: |-
        Modifies the role with the given ID in the given guild. You must have the `MANAGE_ROLES`
        permission, and the role must be lower than your highest role.
      operationId: edit_role
      parameters:
      - name: guild_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: role_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditRolePayload'
        required: true
      responses:
        '200':
          description: Modified role object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |
            You are forbidden from editing the role. This can be because:
            * You are not a member of the guild.
            * You do not have the `MANAGE_ROLES` permission in the guild.
            * You are editing a role that allows or denies permissions you do not have.
            * You are editing a role that is higher than your highest role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Guild or role not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /invites/{code}:
    get:
      tags:
      - invites
      summary: Get Invite
      description: |-
        Gets an invite by its code. This endpoint does not require authentication, but is rate limited
        by IP.
      operationId: get_invite
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Invite
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invite'
        '404':
          description: Invite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - invites
      summary: Use Invite
      description: |-
        Joins a guild using an invite. If the guild was successfully joined, the created member object
        is returned. If the user is already in the guild, the existing member object is returned.
      operationId: use_invite
      parameters:
      - name: nonce
        in: query
        description: The nonce to provide to the guild.
        required: false
        schema:
          type: string
          nullable: true
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Member object for the joined guild
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '400':
          description: Bot account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invite not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /login:
    post:
      tags:
      - auth
      summary: Generate Token (Login)
      description: Login to the API with your email and password to retrieve an authentication token.
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /relationships:
    get:
      tags:
      - users
      summary: Get Relationships
      description: Fetches all relationships of the authenticated user.
      operationId: get_relationships
      responses:
        '200':
          description: List of relationships
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Relationship'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /relationships/blocks/{target_id}:
    put:
      tags:
      - users
      summary: Block User
      description: Blocks a user.
      operationId: block_user
      parameters:
      - name: target_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Relationship object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relationship'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Relationship not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Cannot act on self
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /relationships/friends:
    post:
      tags:
      - users
      summary: Send Friend Request
      description: Requests to add a user as a friend by their username and discriminator.
      operationId: add_friend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendFriendRequestPayload'
        required: true
      responses:
        '200':
          description: Relationship object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relationship'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Cannot act on self
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /relationships/friends/{target_id}:
    put:
      tags:
      - users
      summary: Accept Friend Request
      description: Accepts an incoming friend request.
      operationId: accept_friend_request
      parameters:
      - name: target_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: Relationship object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Relationship'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Relationship not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Cannot act on self
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /relationships/{target_id}:
    delete:
      tags:
      - users
      summary: Delete Relationship
      description: |-
        Deletes a relationship with a user. This includes:
        * Revoking outgoing friend requests
        * Declining incoming friend requests
        * Unfriending users
        * Unblocking users (unidirectional)
      operationId: delete_relationship
      parameters:
      - name: target_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '204':
          description: Relationship deleted
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Relationship not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Cannot act on self
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /users:
    post:
      tags:
      - users
      summary: Create User
      description: Registers a new user account with the given payload.
      operationId: create_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserPayload'
        required: true
      responses:
        '201':
          description: User ID and token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Username or email is already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/check/{username}:
    get:
      tags:
      - users
      summary: Check Username Availability
      description: Checks if a username is available.
      operationId: check_username
      parameters:
      - name: username
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Username is available
        '400':
          description: Invalid username
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Username is taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/me:
    get:
      tags:
      - users
      summary: Get Authenticated User
      description: Fetches information about the logged-in user.
      operationId: get_client_user
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientUser'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    delete:
      tags:
      - users
      summary: Delete User
      description: Deletes the user account of the authenticated user. This is irreversible.
      operationId: delete_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteUserPayload'
        required: true
      responses:
        '204':
          description: User was successfully deleted
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token/credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    patch:
      tags:
      - users
      summary: Edit User
      description: Modifies information about the logged in user.
      operationId: edit_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditUserPayload'
        required: true
      responses:
        '200':
          description: User object after modification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Username is already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /users/me/channels:
    get:
      tags:
      - channels
      summary: Get DM Channels
      description: Fetches all DM and group DM channels that the current user is a part of.
      operationId: get_dm_channels
      responses:
        '200':
          description: DM channels were successfully fetched
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DmChannel'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
    post:
      tags:
      - channels
      summary: Open DM Channel / Create Group DM Channel
      description: |-
        Opens a DM channel with the given user, or creates a group DM channel with the given users.

        # For standard DM channels
        You may only open DM channels with users that are your friends, share a mutual guild, and
        do not have you blocked. If a DM channel already exists, the existing channel is returned.

        # For group DM channels
        You may only create group DM channels with users that are your friends and do not have you
        blocked.
      operationId: create_dm_channel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDmChannelPayload'
        required: true
      responses:
        '201':
          description: Channel was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DmChannel'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
  /users/{user_id}:
    get:
      tags:
      - users
      summary: Get User
      description: Fetches information about a user by their ID.
      operationId: get_user
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
          minimum: 0
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - token: []
components:
  schemas:
    AddBotPayload:
      type: object
      description: The payload sent to add a bot to a guild.
      properties:
        permissions:
          allOf:
          - $ref: '#/components/schemas/Permissions'
          nullable: true
    Attachment:
      type: object
      description: Represents a message attachment.
      required:
      - id
      - filename
      - size
      properties:
        alt:
          type: string
          description: The description/alt text of the attachment.
          nullable: true
        filename:
          type: string
          description: The filename of the attachment.
        id:
          type: string
          format: uuid
          description: The UUID of the attachment.
        size:
          type: integer
          format: int64
          description: The size of the attachment, in bytes.
          minimum: 0
    Bot:
      type: object
      description: Represents details about a bot.
      required:
      - user
      - owner_id
      - default_permissions
      - flags
      properties:
        default_permissions:
          $ref: '#/components/schemas/Permissions'
        flags:
          $ref: '#/components/schemas/BotFlags'
        owner_id:
          type: integer
          format: int64
          description: The ID of the user who owns this bot.
          minimum: 0
        user:
          $ref: '#/components/schemas/User'
    BotFlags:
      type: integer
      format: int32
    ChangeEmailPayload:
      type: object
      description: Payload sent when changing a user's email.
      required:
      - password
      - new_email
      properties:
        new_email:
          type: string
          description: The new email of the user.
        password:
          type: string
          description: The current password of the user.
    ChangePasswordPayload:
      type: object
      description: Payload sent when changing a user's password.
      required:
      - current_password
      - new_password
      properties:
        current_password:
          type: string
          description: The current password of the user.
        new_password:
          type: string
          description: The new password of the user.
    Channel:
      oneOf:
      - $ref: '#/components/schemas/GuildChannel'
      - $ref: '#/components/schemas/DmChannel'
      description: Represents any channel.
    ChannelType:
      type: string
      description: |-
        An intermediate representation of a channel's type. This is never used directly, but is used
        to help deserialization.
      enum:
      - text
      - announcement
      - voice
      - category
      - merged
      - dm
      - group
    ClientUser:
      allOf:
      - $ref: '#/components/schemas/User'
      - type: object
        required:
        - dm_privacy
        - group_dm_privacy
        - friend_request_privacy
        - onboarding_flags
        - settings
        - notification_override
        properties:
          dm_privacy:
            $ref: '#/components/schemas/PrivacyConfiguration'
          email:
            type: string
            format: email
            description: |-
              The associated email of the client's account.

              If the client is a bot, this is `None`.
            nullable: true
          friend_request_privacy:
            $ref: '#/components/schemas/PrivacyConfiguration'
          group_dm_privacy:
            $ref: '#/components/schemas/PrivacyConfiguration'
          notification_override:
            type: object
            description: A map of notification overrides.
            additionalProperties:
              $ref: '#/components/schemas/NotificationFlags'
          onboarding_flags:
            $ref: '#/components/schemas/UserOnboardingFlags'
          settings:
            $ref: '#/components/schemas/Settings'
      description: |-
        Represents user info about the client. This has other information that is not available to the
        public, such as emails, guilds, and relationships (friends and blocked users).
    CreateBotPayload:
      type: object
      description: Payload sent when creating a new bot account.
      required:
      - username
      properties:
        display_name:
          type: string
          description: The global display name of the bot. Must be between 2 and 32 characters.
          nullable: true
        public:
          type: boolean
          description: |-
            Whether the bot is public. Public bots can be added by anyone, while private bots can only
            be added by the owner.
        username:
          type: string
          description: |-
            The unique username of the bot. Must between 2 and 32 characters and only contain
            alphanumeric characters, periods (.), hyphens (-), and underscores (_).

            Note that unlike usernames, bot usernames are only unique to you. The full username of the
            bot will be ``owner_username/given_username``, for example ``user123/MyBot``.
    CreateBotResponse:
      allOf:
      - $ref: '#/components/schemas/Bot'
      - type: object
        required:
        - token
        properties:
          token:
            type: string
            description: The token to use for authentication.
      description: Data sent when creating a new bot account.
    CreateDmChannelPayload:
      oneOf:
      - type: object
        description: A standard DM channel with a single recipient.
        required:
        - recipient_id
        - type
        properties:
          recipient_id:
            type: integer
            format: int64
            description: The ID of the recipient to add to the DM with.
            minimum: 0
          type:
            type: string
            enum:
            - dm
      - type: object
        description: A group DM channel with multiple recipients.
        required:
        - name
        - recipient_ids
        - type
        properties:
          name:
            type: string
            description: The name of the group DM.
          recipient_ids:
            type: array
            items:
              type: integer
              format: int64
              minimum: 0
            description: A list of recipient IDs to initially add to the group DM.
          type:
            type: string
            enum:
            - group
      description: The request body sent to create a new DM or group channel.
      discriminator:
        propertyName: type
    CreateEmojiPayload:
      type: object
      description: The payload sent to create a new emoji.
      required:
      - name
      - image
      properties:
        image:
          type: string
          description: |-
            The emoji image.
            The image should be represented as a
            [Data URI scheme](https://en.wikipedia.org/wiki/Data_URI_scheme).
        name:
          type: string
          description: The name of the emoji.
    CreateGuildChannelInfo:
      oneOf:
      - type: object
        description: A text channel.
        required:
        - type
        properties:
          topic:
            type: string
            description: The topic of the text channel, if any.
            nullable: true
          type:
            type: string
            enum:
            - text
      - type: object
        description: An announcement channel.
        required:
        - type
        properties:
          topic:
            type: string
            description: The topic of the text channel, if any.
            nullable: true
          type:
            type: string
            enum:
            - announcement
[...]
