<div style="text-align: center; background-color: #ffffff; padding: 12px;">
  <img src="https://app.adapt.chat/banner-black-fg.svg" alt="Adapt Banner" height="80" />
  <br>
  <h1>Login Verification</h1>
  <p>
    <strong>{username}</strong>, use the following code to log into Adapt:
  </p>
  <p style="font-weight: bold; font-size: 2em; margin-bottom: 2px;">
    {code}
  </p>
  <p>
    You received this email because an attempt was made to log into your account on Adapt, 
    and you have two factor authencation enabled. If this wasn&apos;t you, consider resetting 
    your password immediately.
  </p>
</div>
<footer style="text-align: center; background-color: #eeeeee; padding: 12px 8px; margin-top: 24px; width: 100%;">
  <p>
    &copy; Copyright 2026 Adapt
    <br>
  </p>
</footer>