<div style="text-align: center; background-color: #ffffff; padding: 12px; margin-top: 12px;">
  <img src="https://app.adapt.chat/banner-black-fg.svg" alt="Adapt Banner" height="48" />
  <br>
  <h1>Reset your password</h1>
  <p>
    <strong>{username}</strong>, click the button below to reset your password. 
  </p>
  <a href="{reset_url}" style="text-decoration: none; display: inline-block; margin: 2px; padding: 8px 12px; background-color: #4f46e5; color: #ffffff; border-radius: 8px;">
    Reset Password
  </a>
  <p>
    If you did not initiate this password reset, please ignore this message.
  </p>
</div>
<footer style="text-align: center; background-color: #eeeeee; padding: 12px 8px; margin-top: 24px; width: 100%;">
  <p>
    &copy; Copyright 2026 Adapt
    <br>
    <span style="color: #777777;">
      If you did not request this email, please <a href="mailto:support@adapt.chat">contact us</a>.
    </span>
  </p>
</footer>